@import "tailwindcss";

@layer utilities {
  .animate-fade-in {
    animation: fadeIn 2s ease-in-out forwards;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}