@import "tailwindcss";

@layer base {
  body {
    -webkit-tap-highlight-color: transparent;
    overscroll-behavior-y: none;
    user-select: none;
  }
}

@layer utilities {
  .animate-fade-in {
    animation: fadeIn 2s ease-in-out forwards;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}